.list {
  display: flex;
  flex-wrap: wrap;

  .item {
    flex: 1;
    padding: 0.25rem;
    margin: 0.25rem;
    width: 8rem;
    height: 6rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 2px;;
    font-size: 0.75rem;
    background-color: #91AA9D;

    &.active, &.active:hover {
      background-color: #193441;
      color: #FCFFF5;
    }

    &:hover {
      cursor: pointer;
      background-color: #3E606F;
    }

    img {
      height: 64px;
      width: 64px;
    }
  }
}
